@font-face {
  font-family: "DrawveticaMini";
  src: url("../fonts/DrawveticaMini.ttf"); }

@font-face {
  font-family: "BPdiet";
  src: url("../fonts/BPdiet.otf"); }

h5 {
  font-size: 20px;
  color: #d2ac67; }

.grid {
  max-width: 1000px;
  padding: 16px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 350px);
  gap: 1rem; }

.grid div {
  position: relative; }

.icons {
  width: 100%;
  position: absolute;
  bottom: 45px;
  color: #0f0f0e;
  font-size: 20px; }

.item-a {
  grid-column: 1 / span 2; }

.item-d {
  grid-row: 2 / span 3; }

main img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover; }

caption {
  padding: 10px;
  color: #a4881b;
  text-align: center;
  caption-side: bottom;
  margin: 15px; }

table {
  margin: auto;
  border-collapse: collapse; }

.tabla {
  text-align: center;
  color: #a4881b; }

tr,
th,
td {
  border: 3px solid black;
  padding: 10px;
  text-align: center; }

@media screen and (min-width: 1000px) {
  .todo,
  .zapatos,
  .accesorios {
    font-size: 35px;
    margin-bottom: 10px; }
  table {
    width: 1100px;
    margin: auto;
    border-collapse: collapse; } }

/*
  aplicando   sass*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f5ca7a; }

header {
  padding: 15px; }
  header .h1nombre {
    color: #faf290;
    margin: 0px;
    margin-bottom: 35px;
    font-size: 38px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 1.5;
    background-color: #0e0b07;
    padding: 10px; }
  header .logoimg1 {
    border-radius: 50%;
    width: 160px;
    height: 110px; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #0e0b07; }
  footer .conteiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px; }
  footer img {
    width: 4rem; }

nav .nav-link {
  font-size: 22px; }
  nav .nav-link:hover {
    background-color: #d2ac67;
    color: #0e0b07; }

div .titulodeparrafo {
  text-align: center;
  color: #a4881b; }
  @media screen and (min-width: 1000px) {
    div .titulodeparrafo {
      font-size: 80px; } }

div p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding: 20px; }
  @media screen and (min-width: 1000px) {
    div p {
      font-size: 2rem; } }
  div p span {
    color: crimson; }

div a {
  text-decoration: none;
  color: black;
  font-weight: bold; }
  div a:hover {
    color: #faf290; }

@media screen and (min-width: 1000px) {
  div .todo {
    font-size: 80px;
    padding-bottom: 35%; } }

@media screen and (min-width: 1000px) {
  div .zapatos {
    font-size: 80px;
    padding-bottom: 35%; } }

@media screen and (min-width: 1000px) {
  div .accesorios {
    font-size: 80px;
    padding-bottom: 45%; } }

/*   aplicando mixins*/
@media (min-width: 1000px) {
  caption {
    padding: 10px;
    font-style: italic;
    color: #9d732f;
    text-align: center;
    caption-side: bottom;
    margin: 15px;
    font-size: 56px; } }

@media (min-width: 1000px) {
  .contacto {
    font-size: 90px;
    color: #faf290;
    font-family: italic; } }

@media (min-width: 1000px) {
  .tabla {
    font-size: 80px;
    color: #9d732f;
    padding: 15px;
    text-align: center; } }

@media (min-width: 1000px) {
  .carrusel {
    width: 83%;
    height: 51rem;
    margin: auto;
    box-sizing: border-box; } }

.formtitulo {
  text-align: center;
  font-size: 60px;
  color: #9d732f; }
  @media (min-width: 1000px) {
    .formtitulo {
      font-size: 105px; } }

.form {
  text-align: center; }
  @media (min-width: 1000px) {
    .form {
      font-size: 25px; } }
  .form label {
    color: #9d732f; }
  .form input,
  .form textarea,
  .form select {
    background-color: #ede1cb; }

.card {
  display: inline-block;
  height: 100%;
  margin-bottom: 20px; }

.cardconteiner {
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }
  .cardconteiner a:hover {
    background-color: #a4881b; }
  .cardconteiner h5 {
    color: #a4881b; }
  .cardconteiner p {
    color: #a4881b; }
  @media (min-width: 1000px) {
    .cardconteiner {
      justify-content: center;
      justify-content: space-around; } }

h1 {
  color: rgb(33, 39, 39); }
h1{
  font-weight: 900;
}