* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
  font-family: "DrawveticaMini";
  src: url("../fonts/DrawveticaMini.ttf");
}

@font-face {
  font-family: "BPdiet";
  src: url("../fonts/BPdiet.otf");
}

body {
  background-color: rgb(225, 237, 196);
}

h1 {
  color: rgb(61, 61, 109);
  margin: 15px;
  margin-bottom: 35px;
  font-size: 50px;
  font-style: italic;
  
  font-family: cursive;
  text-align: center;
  line-height: 1.5;

}


.listaordenada li {
  display: inline;
  list-style-type: none;
  border: 2px solid black;
  margin: 4px;
  padding: 1px 5px;
  border-radius: 7px;

}


.listadesordenada li {
  display: inline;
  border: 2px solid black;
  padding: 1px;
  margin: 3px;
  border-radius: 7px;
}

a {
  text-decoration: none;
  color:rgb(26, 22, 22);
  box-sizing: border-box;
  justify-content: space-around;
  
}

header {

  padding: 10px;
  margin-bottom: 15px;
}

h2,
h3,
span {
  color: blue;
  margin: 15px;
}

main img,
footer img,
iframe {
  margin: 15px;
}

.logoimg {
  width: 125px;
  height: 125px;
  border-top: 5px solid rgb(28, 28, 26);
  border-radius: 50%;
}

.logoimg1 {
  border-radius: 50%;

  width: 120px;
  height: 120px;


}


caption {
  padding: 10px;
  font-style: italic;
  color: rgb(78, 78, 187);
  text-align: center;
  caption-side: bottom;
  margin: 15px;
}

table {
  width: 50%;
  margin: 20px;
  border: 3px solid black;
  border-collapse: collapse;
}

tr,th,td {
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  
  
}

p {
  font-family: "DrawveticaMini";
  font-size: 22px;
  font-weight: bold;
}

.header {
  height: 40vh;
  /* se puede uutilizae medidas vh para el alto y para el ancho vw*/
  display: grid;
  /*grid-template-columns: 200px 200px 220px 220px;*/
  grid-template-columns: repeat(2, 1fr);
  /*esta es la forma corta de arriba 1fr significa uuna fraccion de la pantalla */
  grid-template-rows: 2fr, 2fr;
  /* ver esto que no me modifica las filas*/
  gap: 1rem
  
}

.h1nombre,
.logonadua,
.listaor,
.desordenada {
  border: 1px ;
  padding: 10px;
}

.h1nombre {
  
  grid-column: 2;
  grid-row: 1;
}
/*
.listaor {
  background-color: ;
}

.logonadua {
  background-color:;
  

}

.desordenada {
  
  background-color: ;
  grid-column: 1;
  grid-row: 2;

}

*/
.doradoimg {
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 5%;
  right: 15px;
}


.footer {
  display:grid;
  /*display: flex;*/
  padding: 80px;
  grid-template-columns: 100px;
  grid-template-rows: 2fr,2fr,2fr;

}



main {
  
  padding:80px;
 /* display: flex;
  padding: 80px;*/
}
@media screen and (min-width:920px) {
  main{
    display: flex;
  }
  .footer{
    display: flex;
  }
  
  
  
  
  
  .contacto{
    font-size: 90px;
    color:rgb(61, 61, 109);
      font-family: italic;
  }
  table {
    width: 1100px;
    margin: 40px;
    border: 3px solid rgb(206, 61, 61);
    border-collapse: collapse;
  }
    .tabla{
      font-size: 80px;
      color: brown;
      padding:15px;
      text-align: center;
    }
     .titulodeparrafo{
      font-size:50px ;
      color: brown;
      text-align: center;
    }
    body{
      background-image: linear-gradient(90deg, rgb(210, 216, 145), white);
      
    }
    .logonadua:hover{/*agregando el hover hace la transicion al pasar el mauuse*/
      
      /*transform: translate(350px,450px);*/
      transform: rotate(5deg) ;
      transition: all 3s;
      
    }
    
    .h1nombre:hover{
      
      /*transform: rotate(45deg);
      transform: translate(250px,50px);
      esto lo ponemos las dos en 1 sino no agarra por cascada*/
      transform: rotate(5deg) translate(10px,10px)  skew(5deg,5deg);;/* aqui la forma de las 4 rotate, translate,skew(deg gradosde inclinacion en ejes x,y) ,scale si se elije un eje se pone scale(x)o(y)*/
      
      }
      .h1nombre{
        transition: all 4s;
      }
    
    
    .listaordenada:hover{
      font-size: 18px;
      transition: all 5s;
      
    }
    .listadesordenada:hover{
      font-size: 18px;
      transition: all 5s;
     
    }
   
}
@media screen and (max-width:812px){
  p{
    font-size: 1rem;
  }

}
/*esta animation se ve en web y mobil todo lo anterior esta dentro de formato escritorio */
.animate__animated{
  animation-delay:2s ;
  animation-duration: 3s;
  
}
.animate__hinge{
  animation-delay:2s ;
  animation-duration: 5s;
  
  
}

.navbar{
  background-color: rgb(187, 186, 145);
}
.btn{
  border:  1px solid ;
  border-radius: 10px;
}
.fondo{
  background-color:rgb(187, 186, 145);
}