$color-principal:#f5ca7a;
$color-secundario: #0e0b07;
$color-span:crimson;
$color_textoparrafo:#a4881b;
$texto_redes:#d2ac67;
$texto_h1: #faf290;
$color_fondonav:#d2ac67;
$color_captiom:#9d732f;

$web:1000px;
$webtabla:650px;

$padding_tabla:15px;
$padding:10px;
$margin:15px;
$size:90px;
$size_tabla:80px;