@import "variables";
@import "mixins";

@font-face {
  font-family: "DrawveticaMini";
  src: url("../fonts/DrawveticaMini.ttf");
}

@font-face {
  font-family: "BPdiet";
  src: url("../fonts/BPdiet.otf");
}

h5 {
  font-size: 20px;
  color: #d2ac67;
}

.grid {
  max-width: 1000px;
  padding: 16px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 350px);
  gap: 1rem;
}
.grid div {
  position: relative;
}

.icons {
  width: 100%;
  position: absolute;
  bottom: 45px;
  color: rgb(15, 15, 14);
  font-size: 20px;
}

.item-a {
  grid-column: 1 / span 2;
}
.item-d {
  grid-row: 2 / span 3;
}

main img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

caption {
  padding: 10px;
  color: rgb(164, 136, 27);
  text-align: center;
  caption-side: bottom;
  margin: 15px;
}

table {
  margin: auto;
  border-collapse: collapse;
}
.tabla {
  text-align: center;
  color: rgb(164, 136, 27);
}

tr,
th,
td {
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .todo,
  .zapatos,
  .accesorios {
    font-size: 35px;
    margin-bottom: 10px;
  }

  table {
    width: 1100px;
    margin: auto;

    border-collapse: collapse;
  }
}

/*
  aplicando   sass*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-principal;
}

header {
  padding: 15px;
  .h1nombre {
    color: $texto_h1;
    margin: 0px;
    margin-bottom: 35px;
    font-size: 38px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 1.5;
    background-color: $color-secundario;
    padding: 10px;
  }
  .logoimg1 {
    border-radius: 50%;
    width: 160px;
    height: 110px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $color-secundario;
  .conteiner {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    padding: 10px;
  }
  img {
    width: 4rem;
  }
}
nav {
  .nav-link {
    font-size: 22px;

    &:hover {
      background-color: $color_fondonav;
      color: $color-secundario;
    }
  }
}
div {
  .titulodeparrafo {
    text-align: center;
    color: $color_textoparrafo;
    @media screen and(min-width:#{$web}) {
      font-size: 80px;
    }
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    @media screen and(min-width:#{$web}) {
      font-size: 2rem;
    }
    span {
      color: $color-span;
    }
  }
}
div {
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover {
      color: $texto_h1;
    }
  }
}
div {
  .todo {
    @media screen and(min-width:#{$web}) {
      font-size: 80px;
      padding-bottom: 35%;
    }
  }
  .zapatos {
    @media screen and(min-width:#{$web}) {
      font-size: 80px;
      padding-bottom: 35%;
    }
  }
  .accesorios {
    @media screen and(min-width:#{$web}) {
      font-size: 80px;
      padding-bottom: 45%;
    }
  }
}
/*   aplicando mixins*/
caption {
  @include escritorio {
    padding: $padding;
    font-style: italic;
    color: $color_captiom;
    text-align: center;
    caption-side: bottom;
    margin: $margin;
    font-size: 56px;
  }
}
.contacto {
  @include escritorio {
    font-size: $size;
    color: $texto_h1;
    font-family: italic;
  }
}

.tabla {
  @include escritorio {
    font-size: $size_tabla;
    color: $color_captiom;
    padding: $padding_tabla;
    text-align: center;
  }
}
.carrusel {
  @include escritorio {
    width: 83%;
    height: 51rem;
    margin: auto;
    box-sizing: border-box;
    
  }
  
}

.formtitulo {
  text-align: center;
  font-size: 60px;
  color: $color_captiom;
  @include escritorio {
    font-size: 105px;
  }
}
.form {
  text-align: center;
  @include escritorio {
    font-size: 25px;
    
    
  }
  label {
    color: $color_captiom;
  }
  input,
  textarea,
  select {
    background-color: #ede1cb;
   
    
  }
  
}

.card {
  display: inline-block;
  height: 100%;
  margin-bottom: 20px;
}
.cardconteiner {
  justify-content: center;
  a:hover {
    background-color:$color_textoparrafo;
  }
  h5 {
    color: $color_textoparrafo;
  }
  p {
    color: $color_textoparrafo;
  }
  display: flex;
  flex-wrap: wrap;
  @include escritorio {
    justify-content: center;
    justify-content: space-around;
  }
}


