@import "variables";
@import "mixins";

@font-face {
  font-family: "DrawveticaMini";
  src: url("../fonts/DrawveticaMini.ttf");
}

@font-face {
  font-family: "BPdiet";
  src: url("../fonts/BPdiet.otf");
}

h5 {
  font-size: 20px;
  color: #d2ac67;
}

caption {
  padding: 10px;
  color: rgb(164, 136, 27);
  text-align: center;
  caption-side: bottom;
  margin: 15px;
}

table {
  margin: auto;
  border-collapse: collapse;
}

.tabla {
  text-align: center;
  color: rgb(164, 136, 27);
}

tr,
th,
td {
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 1000px) {

  .todo,
  .zapatos,
  .accesorios {
    font-size: 35px;
    margin-bottom: 10px;
  }

  table {
    width: 1100px;
    margin: auto;

    border-collapse: collapse;
  }
}

/*
  aplicando   sass*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-principal;
}

header {
  padding: 15px;

  .h1nombre {
    color: $texto_h1;
    margin: 0px;
    margin-bottom: 35px;
    font-size: 38px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 1.5;
    background-color: $color-secundario;
    padding: 10px;
  }

  .logoimg1 {
    border-radius: 50%;
    width: 160px;
    height: 110px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $color-secundario;

  .conteiner {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    padding: 10px;
  }

  img {
    width: 2rem;

    @include tabla {
      width: 3rem;
    }

    @include escritorio {
      width: 4rem;
    }
  }

  iframe {
    width: 2rem;
    height: 2rem;

    @include tabla {
      width: 3rem;
      height: 3rem;
    }

    @include escritorio {
      width: 6rem;
      height: 6rem;
    }
  }
  
  }



nav {
  .nav-link {
    font-size: 22px;

    &:hover {
      background-color: $color_fondonav;
      color: $color-secundario;
    }
  }
}

div {
  .titulodeparrafo {
    text-align: center;
    color: $color_textoparrafo;

    @media screen and(min-width:#{$web}) {
      font-size: 80px;
    }
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;

    @media screen and(min-width:#{$web}) {
      font-size: 2rem;
    }

    span {
      color: $color-span;
    }
  }
}

div {
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
      color: $texto_h1;
    }
  }
}

div {
  .todo {
    @media screen and(min-width:#{$web}) {
      font-size: 80px;
      padding-bottom: 35%;
    }
  }

  .zapatos {
    @media screen and(min-width:#{$web}) {
      font-size: 80px;
      padding-bottom: 35%;
    }
  }

  .accesorios {
    @media screen and(min-width:#{$web}) {
      font-size: 80px;
      padding-bottom: 45%;
    }
  }
}

/*   aplicando mixins*/
caption {
  @include escritorio {
    padding: $padding;
    font-style: italic;
    color: $color_captiom;
    text-align: center;
    caption-side: bottom;
    margin: $margin;
    font-size: 56px;
  }
}

.contacto {
  @include escritorio {
    font-size: $size;
    color: $texto_h1;
    font-family: italic;
  }
}

.tabla {
  font-size: 25px;
  margin-bottom: $padding_tabla;

  span {
    color: $color-span;
  }

  @include escritorio {
    font-size: $size_tabla;
    color: $color_captiom;
    padding: $padding_tabla;
    text-align: center;

  }
}

.carrusel {
  @include escritorio {
    width: 83%;
    height: 51rem;
    margin: auto;
    box-sizing: border-box;
  }
}



.form {
  width: 300px;
  padding: 20px;
  margin: auto;
  border-radius: 4px;
  background-color: rgb(35, 37, 37);

  .imput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }

  @include tabla {
    width: 600px;
  }

  @include escritorio {
    width: 1000px;
  }

  label {
    color: $color_captiom;
  }

  input,
  textarea,
  select {
    background-color: #ede1cb;
  }
}

.card {
  display: inline-block;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 300ms;

  @include escritorio {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.cardconteiner {
  justify-content: center;
  margin: 5px;

  a:hover {
    background-color: $color_textoparrafo;
  }

  h5 {
    color: $color_textoparrafo;

    span {
      color: $color-span;
    }
  }

  p {
    color: $color_textoparrafo;
  }

  display: flex;
  flex-wrap: wrap;

  @include escritorio {
    justify-content: center;
    justify-content: space-around;
  }
}

.enviar,
#enviar {
  padding: 2px;
  width: 100px;

  @include escritorio {
    width: 170px;
  }
}

h2 {
  font-size: 25px;
  text-align: center;
  color: $color_captiom;

  @include escritorio {
    font-size: 50px;
  }
}

.grid-conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 50px;
  gap: 20px;

}

.grid-img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
  object-fit: cover;


}

.grid-item {
  position: relative;
}

.icons {
  width: 100%;
  position: absolute;
  bottom: 3px;
  font-size: 50%;
  color: white;

  @include escritorio {
    font-size: 150%;

  }

}

.videoscontenedor {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .video {

    margin: 15px;
  }
}
.principio{
  
    h5{
      text-align: center;
      color: $color-secundario;
    }
    @include tabla{
      display: none;
    }
    @include escritorio{
      display: none;
    }
  }
